{% extends 'layouts/new_base.html' %}
{% load static %}

{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
<div class="tile">
<div class="tile-title">
    <div class="row">
        <div class="col-md-6">
            <h4>Client Bills</h4>
        </div>
        <div class="col-sm-6">
           <!-- <a href="{% url 'Invoices:create_invoice' client.id %}" class="btn btn-outline-primary pull-right">New Invoice</a>-->
    </div>
    </div>
</div>
        <div class="tile-body">
            <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <th>Client Name</th>
                    <th>A/C</th>
                    <th>Bill Date</th>
                    <th>P. Readings </th>
                    <th>C. Readings </th>
                    <th>units </th>
                    <th>Amount</th>
                    
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices %}
                <tr>
                    <td><a href="{% url 'sms:client_dashboard' client.id %}">{{ client.names }}</a></td>
                   <!--<td><a href="{% url 'Invoices:invoice_services' invoice.id %}">{{ invoice.client.company_name }}</a></td>--> 
                    <td>{{ invoice.account_number.id }}</td>
                    <td>{{ invoice.read_date }}</td>
                    <td>{{ invoice.previous_reading }}</td>
                    <td>{{ invoice.readings }}</td>
                    <td>{{ invoice.units_consumed }}</td>
                    <td>{{ invoice.amount_from_units }}</td>
                    
                    <td>
                      <!-- <a href="{#}" title="Edit" class="btn btn-outline-primary btn-sm"><i class="fa fa-edit fa-lg"></i></a>
                        <a href="#" id="demoSwal" title="Delete" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                        <div hidden>
                            <a href="{#}" id="invoice_delete"></a>
                        </div>
                    --> <a href="{% url 'sms:bill_preview' invoice.id %}" title="" class="btn btn-outline-primary btn-sm">Bill Preview</a>
                        
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript" src="{% static 'js/bootstrap-notify.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>
    <script type="text/javascript">
          $('#demoSwal').click(function(){
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this invoice or the services under it",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel please!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function(isConfirm) {
                if (isConfirm) {
                    document.getElementById('invoice_delete').click();
                    swal("Deleted!", "Invoice deletion complete", "success");
                } else {
                    swal("Cancelled", "Invoice deletion cancelled:)", "error");
                }
            });
          });
    </script>
{% endblock %}