{% extends 'layouts/new_base.html' %}
{% load static %}
{% load filters %}
{% block additional_meta %}

{% endblock %}

{% block additional_styles %}

{% endblock %}

{% block content %}
    <div class="tile">
        <div class="tile-body">
        <div class="row">
            <div class="col-sm-6">
                <h3>Uploaded fine Readings</h3>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'sms:add_fines' %}" class="btn btn-primary pull-right">Add Fine</a>
            </div>
        </div>
        <hr>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <th>Names</th>
                    <th>Account Number</th>
                    <th>Fines</th>

                    <th>Fine Date</th>

                    <th>Fine Type</th>
                </tr>
                </thead>
                <tbody>
                {% for meter_reading in fines %}
                <tr>
                    <td>{{ meter_reading.names }}</td>
                    <td>{{ meter_reading.account_number.id }}</td>
                    <td>{{ meter_reading.fine_amount }}</td>

                    <td>{{ meter_reading.fine_date |date:'Y-m-d H:i' }}</td>

                    <td>{{ meter_reading.reading_type }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}

{% endblock %}